apiVersion: v1
kind: Service
metadata:
  name: py-service
spec:
  selector:
    app: python
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 30800
  type: NodePort

---

apiVersion: v1
kind: Service
metadata:
  name: go-service
spec:
  selector:
    app: go
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 30700
  type: NodePort
